services:
  zoraxy:
    image: zoraxydocker/zoraxy:latest
    container_name: zoraxy
    restart: unless-stopped
    ports:
      - 80:80
      - 443:443
      - 8000:8000
    volumes:
      - ./zoraxy/config/:/opt/zoraxy/config/
      - ./zoraxy/plugin/:/opt/zoraxy/plugin/
      - /var/run/docker.sock:/var/run/docker.sock
    extra_hosts:
      - "host.docker.internal:host-gateway"
  zerotier:
    image: zyclonite/zerotier:latest
    container_name: zerotier
    restart: unless-stopped
    network_mode: host
    volumes:
      - ./zerotier-config:/var/lib/zerotier-one
    cap_add:
      - NET_ADMIN
      - SYS_ADMIN
    devices:
      - /dev/net/tun:/dev/net/tun
    command: zerotier-cli join ${NETWORK_ID}
